<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bestillingsvindue</title>
</head>
<body>

<h1>Bestillingsvindue</h1>

<table>
    <tr>
        <th>Dag</th>
        <th>Åbner</th>
        <th>Lukker</th>
        <th>Aktiv</th>
        <th>Gem</th>
    </tr>

    <tr th:each="window : ${weeklySchedule}">

        <td th:text="${window.dayOfWeek}"></td>

        <td>
            <input
                    class="openTime"
                    type="time"
                    th:value="${window.openTime}">
        </td>
        <td>
            <input
                    class="closeTime"
                    type="time"
                    th:value="${window.closeTime}">
        </td>
        <td>
            <input
                    class="active"
                    type="checkbox"
                    th:checked="${window.active}">
        </td>
        <td>
            <input
                    class="dayOfWeek"
                    type="hidden"
                    th:value="${window.dayOfWeek}">

            <button
                    type="button"
                    class="save-window-button">

                Gem

            </button>
        </td>
    </tr>
</table>

<h2>Helligdage</h2>

<form method="post" action="/admin/order-window/holiday">

    <label for="holidayName">Navn:</label>
    <input type="text" id="holidayName" name="description" placeholder="Fx Nytårsaften">

    <label for="holidayDate">Dato:</label>
    <input type="date" id="holidayDate" name="date">

    <label for="holidayOpenTime">Åbner:</label>
    <input type="time" id="holidayOpenTime" name="openTime">

    <label for="holidayCloseTime">Lukker:</label>
    <input type="time" id="holidayCloseTime" name="closeTime">

    <label>
        <input type="checkbox" name="active" checked>
        Aktiv
    </label>

    <button type="submit">Tilføj helligdag</button>

</form>

<hr>

<h3>Oprettede helligdage</h3>

<table>

    <tr>
        <th>Navn</th>
        <th>Dato</th>
        <th>Åbner</th>
        <th>Lukker</th>
        <th>Aktiv</th>
        <th>Slet</th>
    </tr>

    <tr th:each="holiday : ${holidayOpeningHours}">

        <td th:text="${holiday.description}"></td>

        <td th:text="${holiday.date}"></td>

        <td th:text="${holiday.openTime}"></td>

        <td th:text="${holiday.closeTime}"></td>

        <td th:text="${holiday.active}"></td>

        <td>

            <form method="post"
                  action="/admin/order-window/holiday/delete">

                <input
                        type="hidden"
                        name="id"
                        th:value="${holiday.id}">

                <button type="submit">
                    Slet
                </button>

            </form>

        </td>

    </tr>

</table>

</body>
</html>