<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bestillingsvindue</title>
</head>
<body>

<h1>Bestillingsvindue</h1>

<table>
    <tr>
        <th>Dag</th>
        <th>Åbner</th>
        <th>Lukker</th>
        <th>Aktiv</th>
        <th>Gem</th>
    </tr>

    <tr th:each="window : ${weeklySchedule}">

        <td th:text="${window.dayOfWeek}"></td>

        <td>
            <input
                    class="openTime"
                    type="time"
                    th:value="${window.openTime}">
        </td>
        <td>
            <input
                    class="closeTime"
                    type="time"
                    th:value="${window.closeTime}">
        </td>
        <td>
            <input
                    class="active"
                    type="checkbox"
                    th:checked="${window.active}">
        </td>
        <td>
            <input
                    class="dayOfWeek"
                    type="hidden"
                    th:value="${window.dayOfWeek}">

            <button
                    type="button"
                    class="save-window-button">

                Gem

            </button>
        </td>
    </tr>
</table>

</body>
</html>